<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" />
    <title>LuleNorthernLightsCinema</title>
  </head>
  <body>
    <%- include("./partials/header-pages.ejs") %> <%-
    include("./partials/sec-nav.ejs") %>

    <main class="content">
      <p>
        En fin gåva till alla filmälskare som vill sätta guldkant på biobesöket.
        Presentkortet gäller hela bioprogrammet samt mat och dryck. Du väljer
        beloppet och kortet är därefter giltigt i ett år. Läs hur du betalar med
        presentkortet på hemsidan under
        <a href="ticket-info">Biljettinfo</a>.
      </p>
      <h3>Köp presentkort på plats</h3>
      <p>
        Lule Northern Lights Cinema ligger på biografgatan 97 i Luleå där du kan
        köpa vårt presentkort i kassan. Läs mer om våra
        <a href="openingHours">öppettider</a>.
      </p>

      <h3>Köp presentkort via företaget</h3>
      <p>
        Vill du köpa presentkort via företaget kan du mejla din beställning till
        <a href="mailto:info@lulenorthernlightscinema.se"
          >info@lulenorthernlightscinema.se</a
        >. Glöm inte att bifoga företagets fakturauppgifter i mejlet.
      </p>
      <p>
        <img
          src="../static/giftcard.png"
          alt="Bild på en biosalong med röda stolar i bakgrunden och i förgrunden är det ett glas vin, en stor bulle och ett presentkort ovanpå ett bord. Belysnigen i rummet är dämpad."
          width="300"
          height="300"
        />
      </p>
    </main>

    <%- include("./partials/footer.ejs") %>

    <script src="./js/script.js" type="module"></script>
    <script src="./js/secNav/secNav.js" type="module"></script>
  </body>
</html>
